
body {
    background-color: #F8F8F8;
    font-family: Arial, Helvetica, sans-serif;   
}

li {
    list-style: none;
    margin: 20px 0 20px 0;
}

a {
    text-decoration: none;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    transition: 0.4s;
    background-color: white;
    box-shadow: 0px 10px 15px grey;
    border-radius: 15px;
}

.sidebar a {
    color: black;
}

.active-main-content {
    margin-left: 250px;
}

.active-sidebar {
    margin-left: 0;
}

#nav-content {
    background-color: #00B0FF;
    transition: 0.4s;
}

#nav-content .container p a{
    color: white;
}

#main-content {
    transition: 0.4s;
}


.tombol {
    background:none;
    border:none;
    color:#FFF;
    font-family:Verdana, Geneva, sans-serif;
    cursor:pointer;
}

.status {
    color: grey;
    display: flex;
}

.status img {
    width: 50px;
    height: 50px;
}

.item {
    margin: 10px;
}

.isi {
    display: flex;
}

.jarak {
    display: flex;
    margin: 5px;
}

.icon {
    bottom: 0;
    color: black;
}

.jarak h1 {
    float: right;
}

img {
    background-color: #20C997;
    border-radius: 50%;
}

.salam {
    justify-content: center;
}

.judul-dashboard {
    color: #394867;
}

.text-dashboard {
    margin: auto;
}

.menu-atas {
    display: flex;
    justify-content: space-between;
}

.menu-kader {
    border: none;
    color: grey;
    box-shadow: 0 5px 10px #9DB2BF;
}

.menu-posyandu {
    border: none;
    background-color: #6B728E;
    color: #F8F8F8;
    box-shadow: 0 5px 10px #9DB2BF;
}