
body {
    background-color: #F8F8F8;
}

li {
    list-style: none;
    margin: 20px 0 20px 0;
}

a {
    text-decoration: none;
    color: white;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    transition: 0.4s;
    background-color: white;
    box-shadow: 0px 10px 15px grey;
}

.sidebar a {
    color: black;
}

.active-main-content {
    margin-left: 250px;
}

.active-sidebar {
    margin-left: 0;
}

#nav-content {
    background-color: #00B0FF;
    transition: 0.4s;
}

#nav-content .container p a{
    color: white;
}

#main-content {
    transition: 0.4s;
}

table {
    border-radius: 10px;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

table th, table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody .field:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 4px solid #009879;
}

.judul {
    border-radius: 3px;
    font-size: 13px;
    color: white;
    background-color: #6B728E;
}

.judul th {
    text-align: center;
    vertical-align: middle;
}

.judul1 {
    border-radius: 3px;
    font-size: 15x;
    color: white;
    background-color: #6B728E;
}

.cetak {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.menu-filter {
    display: flex;
}

#filterbulan {
    width: 100px;
}