
body {
    background-color: #F8F8F8;
}

li {
    list-style: none;
    margin: 20px 0 20px 0;
}

a {
    text-decoration: none;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    transition: 0.4s;
    background-color: white;
    box-shadow: 0px 10px 15px grey;
    border-radius: 15px;
}

.sidebar a {
    color: black;
}

.active-main-content {
    margin-left: 250px;
}

.active-sidebar {
    margin-left: 0;
}

#nav-content {
    background-color: #00B0FF;
    transition: 0.4s;
}

#nav-content .container p a{
    color: white;
}

#main-content {
    transition: 0.4s;
}

.judul {
    border-radius: 3px;
    font-size: 13px;
    color: white;
    background-color: #00B0FF;
}

